#root {
  max-width: 1280px;
}

.App {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.left {
  width: 40%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 5%;
}

.content {
  margin-bottom: 10%;
  width: 100%;
}

.form-container {
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.right {
  width: 60%;
  background: linear-gradient(
    to top,
    #00111c 0%,
    #002137 40%,
    #003356 80%,
    #00406c 100%
  );
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
